body, body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-size: inherit;
    vertical-align: baseline;
    list-style: none;
    line-height: 1;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
    background-color: #000000;
}

#main {
    position: absolute;
    width: 900px;
    height: 600px;
    border: 3px solid #ddddff;
    border-radius: 20px;
    margin-top: -330px; /* height / 2 + border - 25*/
    margin-left: -455px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-image: url("loading.png");
}

#map {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 23711px;
    height: 11856px;
}

#map td {
    height: 152;
    width: 181;
    background-image: url("loading.png");
}

#satelite {
    position: absolute;
    width: 100px;
    height: 127px;
    margin-top: -63px;
    margin-left: -50px;
    top: 50%;
    left: 50%;
    background-image: url("satelite.png");
}

#shadow {
    position: absolute;
    width: 30px;
    height: 38px;
    margin-top: -15px;
    margin-left: -19px;
    top: 50%;
    left: 65%;
    background-image: url("satelite-shadow.png");
}

#alert {
    position: absolute;
    height: 50px;
    width: 100%;
    font-weight: bold;
    top: 50%;
    line-height: 50px;
    font-family: monospace;
    text-align: center;
    color: #cc1111;
    font-size: 40px;
    margin-top: 280px;
}